<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SignUp</title>
</head>
<body>
	<h1>SignUp here</h1>
	<hr>
	
	<form action="/user/signup" method="post">
	FirstName <input type = "text" name = "fname"><br>
	LastName <input type = "text" name = "lname"><br>
	UserName <input type = "text" name = "username"><br>
	Email   <input type="email"     name="email"> <br><br>
	Password <input type = "password" name = "password"><br>
			<input type = "submit" value="Signup">
			
	</form>
</body>
</html>